*{
    margin: 0;
    padding: 0;
    text-align: center;
    
    
}
header{
    height: 80px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav{
    height: 20px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
div{
    
    height: 696px;
    
}

main{
    display: inline;
    float:inline-start
}
aside{
    float: left;
    background-color: yellow;
    height: 100vh;
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
footer{
    width: 100%;
    height: 10vh;
     background-color: gray;
     display: flex;
     justify-content: center;
     align-items: center;
     
 }