.container{
    background-color: rgb(236, 141, 157);
    height: 320px;
    width: 700px;
    color: white;
    border: 2px solid black;
    position: relative;
  
    
}

#box1{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;
   

}
#box2{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;

}
#box3{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;

}
#box4{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;

}
#box5{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;

}
#box6{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;
    position: relative;
    top: -174px;
    left: 58px;

}
#box7{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;
    position: relative;
    top: -348px;
    left: 116px;
    

}
#box8{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;
    position: relative;
    top: -406px;
    left: 58px;

}
#box9{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;
    position: absolute;
    right: 8px;
    top: 8px;
   

}
#box10{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;
    position: absolute;
    right: 8px;
    top: 66px;
    
}
#box11{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;
    position: absolute;
    right: 8px;
    top: 120px;

}
#box12{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;
    position: absolute;
    right: 8px;
    top: 178px;
   

}
#box13{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;
    position: absolute;
    right: 8px;
    top: 236px;
   

}
#box14{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;
    position: absolute;
    right: 66px;
    top: 8px;
   

}
#box15{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;
    position: absolute;
    right: 126px;
    top: 8px;
   

}
#box16{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;
    position: absolute;
    right: 66px;
    top: 236px;
   

}
#box17{
    background-color: rgb(78, 74, 74);
    width: 50px;
    height: 50px;
    margin: 8px;
    position: absolute;
    right: 126px;
    top: 236px;
   

}
